body{
font-family: 'Balsamiq Sans', cursive;
color: #00A25F;
}

h1{
  text-align: center;
}

/* Bootstrap navbar background override */
.bg-custom{
  background-color: #00A25F;
}

/*English Comic Box */
.comicBox {
  min-height: 300px;
  border: 1px solid black;
}

/*Styled anchor tag buttons*/
.linkButton {
  text-align: center;
  font-size: 20px;
  margin: 10px 30px;
  border-radius: 3px;
  padding:10px;
  background: #00A25F;
  border: 2px solid #00A25F;
  color:white;
}

.linkButton:hover{
  text-decoration: none;
  border-color: #CDCDCD;
  color: inherit;
  background: white;

}
/*Language Toggle Styling */
#language-toggle-icon {
  margin: 10px;
}

#language-toggle-icon:hover {
  filter: saturate(3);
}
