body{
font-family: 'Balsamiq Sans', cursive;
}

h1{
  color: #083D77;
}

.bg-custom{
  background-color: #083D77;
}

.hmlink{
  width: 100%;
  height: 100px;
  text-decoration: none;
}

.btn-danger{
  background-color: #E94A48;
}

.btn-primary{
  background-color: #0085C0;
  color: white;
}

.btn-success {
  background-color: #00A25F;
  color: white;
}

#mainLogo {
  font-size: 7em;
  color: #083D77;
  margin-top: 70px;
}
