body{
font-family: 'Balsamiq Sans', cursive;
}

h1{
  color: #083D77;
}

form {
  border: 1px solid black;
  border-radius: 19px;
  padding: 20px;
}

svg {
  width: 64px;
  height: 64px;
}

/* Possible svg support for language toggle icon */
 svg:hover {
  fill: red;
}

.sunshine1{
  color: #E94A48;
}
.sunshine2{
  color: #0085C0;
}

.sunshine3{
  color: #00A25F;
}

.row {
  margin-left: 30px;
}

.form-content {
  margin-left: 30px;
}
/* Bootstrap navbar background override */
.bg-custom{
  background-color: #083D77;
}


/*Styled anchor tag buttons*/
.hmlink{
  width: 100%;
  height: 100px;
  text-decoration: none;
}

/* Bootstrap Button Overrides */
.btn-danger{
  background-color: #E94A48;
}

.btn-primary{
  background-color: #0085C0;
  color: white;
}

.btn-success {
  background-color: #00A25F;
  color: white;
}

.btn-main {
  font-size: 3em;
  margin: 30px 0px;
}

.btn-main:focus {
  outline: none;
  box-shadow: none;
}

.book-unit {
  display: inline-block;
}

/*Language Toggle Styling */
#language-toggle-icon {
  margin: 10px;
}

/* #language-toggle-icon:hover {
  filter: saturate(3);
} */

/* Header Logo Styling */
#mainLogo {
  font-size: 7em;
  color: #083D77;
}
