body{
font-family: 'Balsamiq Sans', cursive;
color: #E94A48;
}

h1{
  text-align: center;
}

/* Bootstrap navbar background override */
.bg-custom{
  background-color: #E94A48;
}
/*English Comic Box */
.comicBox {
  min-height: 300px;
  border: 1px solid black;
  padding 20px auto;
  text-align:center;
}



/*Styled anchor tag buttons*/
.linkButton {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 10px 30px;
  border: 2px solid #E94A48;
  background: #E94A48;
  border-radius: 3px;
  padding:10px;
}

.linkButton:hover{
  text-decoration: none;
  color: inherit;
  background: white;
  border-color: #CDCDCD;
}

#letters > .linkButton {
  font-size: 25px;
  width:65px;
  height:65px;
}

.disabled-btn{
  color: white;
  background: #bfbfbf;
  border: 2px solid #CDCDCD;
}

.disabled-btn:hover{
  color: white;
  background: #bfbfbf;
  border: 2px solid #CDCDCD;
}

#sound-type{
  background-color: rgba(0,133,192,0.75);
}

#sound-type > button {
  text-align: center;
  font-size: 20px;
  color: inherit;
  margin: 10px 30px;
  border: 2px solid #CDCDCD;
  background: white;
  border-radius: 3px;
  padding:10px;
  text-align: center;
}

/*Language Toggle Styling */
#language-toggle-icon {
  margin: 10px;
}

 #language-toggle-icon:hover {
  filter: invert(0.5) sepia(1) hue-rotate(325deg) saturate(3) brightness(1);
}

#handwriting {
  display: block;
  margin: 20px auto;
}
